@model UWUesports.Web.ViewModels.AssignUserRoleViewModel
@{
    ViewData["Title"] = "Edycja przypisania roli";
}

<h2>Edycja przypisania roli</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="originalUserId" value="@ViewBag.OriginalUserId" />
    <input type="hidden" name="originalOrganizationId" value="@ViewBag.OriginalOrganizationId" />
    <input type="hidden" name="originalRoleId" value="@ViewBag.OriginalRoleId" />

    @await Html.PartialAsync("_Form", Model)

    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
